{
  "extends": ["airbnb"],
  "rules": {
    "spaced-comment": 0,
    "arrow-parens": 0,
    "no-unused-vars": 1,
    "no-multiple-empty-lines": 0,
    "no-debugger": 1,
    "object-curly-newline": ["error", {
      "minProperties": 5
    }],
    "comma-dangle": 0
    }
}
